* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

img {
  max-width: 100%;
}

span, label {
  display: inline-block;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: $font-JetBrains;
  font-style: normal;
  font-display: swap;
  background: $color-black;
}

input, textarea {
  outline: none;
  border: 0;
  background: transparent;
}

button {
  border: none;
  cursor: pointer;
  background: transparent;
  outline: 0;
}

address {
  font-style: normal;
}

.wrapper {
  width: 100%;
  // overflow: hidden;
}

ul, ol, dl {
  list-style: none;
  padding: 0;
  margin: 0;
}

p, h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
}

.container {
  max-width: 1840px;
  width: calc(100% - 80px);
  margin: 0 auto;

  @include media('lg') {
    width: calc(100% - 40px);
  }
}

.btn {
  &-white {
    border-radius: 4px;
    padding: 10px 20px;
    height: 41px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background: $color-white;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: -0.05em;
    text-transform: uppercase;
    text-align: center;
    color: $color-black;

    @include media('lg') {
      height: 38px;
    }
  }

  &-radial {
    border-radius: 4px;
    padding: 10px 20px;
    height: 41px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background: radial-gradient(92.79% 325.61% at 68.36% 202.44%, #090708 2.15%, #B16A37 68.08%, #EFE6DA 100%);
    font-weight: 600;
    font-size: 16px;
    letter-spacing: -0.05em;
    text-transform: uppercase;
    text-align: center;
    color: $color-white;
    white-space: nowrap;

    @include media('lg') {
      height: 38px;
    }
  }
}

.section_title {
  font-family: $font-HS_LunaObscura;
  font-weight: 400;
  font-size: 35px;
  line-height: 150%;
  letter-spacing: -4%;
  text-transform: uppercase;
  color: $color-white;

  @include media('lg') {
    font-size: 30px;
    line-height: 120%;
  }

  @include media('sm') {
    font-size: 25px;
  }
}


.bottom_banner {
  img {
    width: 100%;
    height: 1288px;
    object-fit: cover;

    @include media("xl") {
      height: 966px;
    }

    @include media("lg") {
      height: 687px;
    }

    @include media("md") {
      height: 515px;
    }

    @include media("sm") {
      height: 317px;
    }
  }
}

.breadcrumb {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 110px;

  a,li,span {
    font-weight: 300;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: -5%;
  }

  a, li {
    color: #FAF1E866;
  }

  span {
    color: $color-white;
  }
}
