@font-face {
	font-family: 'HS_LunaObscura';
	src: url('../fonts/hs_lunaobscura/HS_LunaObscura.woff2') format('woff2'),
			url('../fonts/hs_lunaobscura/HS_LunaObscura.otf') format('opentype');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

