// fonts
$font-JetBrains: "JetBrains Mono", monospace;
$font-Inter: "Inter", sans-serif;
$font-HS_LunaObscura: "HS_LunaObscura", sans-serif;
// fonts

// colors
$color-white: #FAF1E8;
$color-black: #161516;
// colors
