// article
.article {
  &_hero {
    padding: 80px 0 100px 0;

    .section_title {
      max-width: 1100px;
    }
  }

  &_attention {
    padding: 100px 0;

    .section_title {
      max-width: 960px;
    }

    &_in {
      display: grid;
      grid-template-columns: repeat(2,1fr);
      gap: 80px;

      p, span {
        font-weight: 300;
        font-size: 16px;
        line-height: 100%;
        letter-spacing: -5%;
        color: $color-white;
      }

      span {
        opacity: 60%;
      }
    }

    ul {
      padding-top: 40px;

      li {
        padding: 20px 0;
        border-bottom: 1px solid #FAF1E833;
      }

      p {
        margin-bottom: 10px;
      }
    }
  }

  &_models {
    .section_title {
      text-align: center;
      max-width: 1312px;
      margin: auto;

      span {
        display: inline;
        color: #FAF1E84D;
      }
    }
  }
}
// article
