.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 0;
  z-index: 2;

  &-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 1;

    @include media('lg') {
      justify-content: flex-end;
    }
  }

  &-logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    @include media('lg') {
      left: 0;
      transform: translate(0, -50%);
    }

    img {
      @include media('sm') {
        width: 130px;
      }
    }
  }

  &-btn {
    border: 1px solid rgba(22, 21, 22, 0.2);
    border-radius: 4px;
    padding: 0 20px;
    height: 31px;
    background: $color-white;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    font-size: 16px;
    letter-spacing: -0.05em;
    text-align: center;
    color: $color-black;

    @include media('lg') {
      height: 28px;
    }
  }

  &-left {
    display: flex;
    align-items: center;
    gap: 5px;

    @include media('lg') {
      display: none;
    }

    &__item {
      @include media('lg') {
        display: none;
      }
    }
  }

  &-menu {
    position: relative;

    &__btn {
      img:last-child {
        display: none;
      }
    }

    &__content {
      position: absolute;
      bottom: -5px;
      left: 0;
      transform: translateY(100%);
      width: auto;
      background: $color-white;
      border-radius: 8px;
      padding: 40px 20px;
      display: none;

      @include media('lg') {
        left: auto;
        right: 0;
        padding: 30px 20px;
      }

      li {
        border-bottom: 1px solid rgba(22, 21, 22, 0.4);

        &:first-child {
          border-top: 1px solid rgba(22, 21, 22, 0.4);
        }
      }

      a {
        width: 100%;
        display: flex;
        align-items: center;
        padding: 10px 0;
        font-weight: 300;
        font-size: 16px;
        letter-spacing: -0.05em;
        white-space: nowrap;
        transition: .2s ease-in-out all;

        @include media('xl') {
          font-size: 14px;
        }

        &:hover {
          color: $color-orange;
        }
      }
    }

    &.active {
      .header-menu {
        &__btn {
          color: $color-white;
          background: $color-black;

          img {
            display: none;

            &:last-child {
              display: block;
            }
          }
        }

        &__content {
          display: block;
        }
      }
    }
  }

  &-catalog {
    &__btn.active {
      background: $color-black;
      color: $color-white;
      border-color: $color-black;

      img {
        filter: invert(1);
        transform: rotateZ(180deg);
      }
    }

    &__content {
      position: absolute;
      left: 0;
      bottom: -5px;
      transform: translateY(100%);
      width: 100%;
      padding: 40px 20px;
      border-radius: 8px;
      background: $color-white;
      display: none;
      // display: flex;
      align-items: flex-start;
      gap: 300px;

      @include media('2xl') {
        gap: 200px;
      }

      @include media('xl') {
        gap: 100px;
      }

      @include media('lg') {
        gap: 80px;
      }

      @include media('sm') {
        display: none;
      }

      &.active {
        display: flex;
      }
    }

    &__item {
      min-width: 89px;

      &:last-child {
        @include media('lg') {
          flex-shrink: 0;
        }
      }

      h3 {
        font-weight: 300;
        font-size: 16px;
        letter-spacing: -0.05em;
        opacity: 0.6;
        margin-bottom: 30px;

        @include media('xl') {
          font-size: 14px;
        }
      }

    }

    &__links {
      li {
          border-bottom: 1px solid rgba(22, 21, 22, 0.4);

          &:first-child {
              border-top: 1px solid rgba(22, 21, 22, 0.4);
          }
      }

      a {
          width: 100%;
          display: flex;
          font-weight: 300;
          font-size: 16px;
          letter-spacing: -0.05em;
          transition: .2s ease-in-out all;
          padding: 10px 0;

          @include media('xl') {
            font-size: 14px;
          }

          &:hover {
              color: $color-orange;
          }
      }
    }
  }

  &-accordion {
    width: 100%;
    border-bottom: 1px solid rgba(22, 21, 22, 0.4);

    &:first-child {
      border-top: 1px solid rgba(22, 21, 22, 0.4);
    }

    &__btn {
      font-weight: 300;
      font-size: 16px;
      letter-spacing: -0.05em;
      text-align: center;
      display: flex;
      align-items: center;
      width: 100%;
      justify-content: space-between;
      gap: 20px;
      cursor: pointer;
      padding: 10px 0;
      text-transform: uppercase;
      position: relative;
      z-index: 1;

      @include media('xl') {
        font-size: 14px;
      }

      &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        height: 21px;
        width: 100%;
        background: $color-orange;
        z-index: -1;
        display: none;

        @include media('xl') {
          height: 18px;
        }
      }
    }

    &__body {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 80px;
      padding-bottom: 10px;
      width: 0;

      @include media('lg') {
        grid-template-columns: repeat(1, 1fr);
        gap: 10px;
      }

      &-wrap {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.3s ease-in-out;
      }

      ul {
        display: flex;
        flex-direction: column;
        gap: 10px;
      }

      a {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        font-weight: 300;
        font-size: 16px;
        letter-spacing: -0.05em;
        text-align: right;
        transition: .2s ease-in-out all;

        @include media('xl') {
          font-size: 14px;
        }

        &:hover {
          color: $color-orange;
        }
      }
    }

    &.active {
      .header-accordion {
        &__btn {
          padding: 10px;
          color: $color-white;

          &::before {
            display: block;
          }

          svg {
            transform: rotateZ(180deg);

            path {
              fill: $color-white;
            }
          }
        }

        &__body {
          width: 368px;

          @include media('xl') {
            width: 358px;
          }

          @include media('lg') {
            width: 139px;
          }
        }
      }
    }
  }

  &-right {
    display: flex;
    align-items: center;
    gap: 5px;

    .header-btn {
      &:not(:first-child) {
        padding: 0 16px;
      }

      span {
        @include media('xl') {
          display: none;
        }
      }
    }

    .header-catalog__btn {
      display: none;

      @include media('lg') {
        display: inline-flex;
      }

      @include media('sm') {
        display: none;
      }

      span {
        display: inline-block;
      }
    }

    &__item {
      display: none;

      @include media('lg') {
        display: block;
      }

      @include media('sm') {
        display: none;
      }
    }
  }

  .favorite-btn {
    @include media('sm') {
      display: none;
    }
  }

  .bars {
    display: none;

    @include media('sm') {
      display: inline-flex;
    }
  }
}

.menu {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: $color-black;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 10px 70px;

  &.active {
    @include media('sm') {
      display: flex;
    }
  }

  &-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 52px;

    .back-btn {
      display: flex;
      align-items: center;
      gap: 20px;
      font-weight: 300;
      font-size: 14px;
      letter-spacing: -0.05em;
      color: $color-white;
      padding: 5px 0;

      span {
        opacity: 0.6;
      }
    }

    &__right {
      display: flex;
      align-items: center;
      gap: 2px;
    }
  }

  &-content {
    li {
      width: 100%;
      border-bottom: 1px solid rgba(250, 241, 232, 0.4);

      &:first-child {
        border-top: 1px solid rgba(250, 241, 232, 0.4);
      }
    }

    &__btn {
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-weight: 300;
      font-size: 14px;
      letter-spacing: -0.05em;
      color: $color-white;
      width: 100%;
      padding: 10px 0;
    }
  }

  .content {
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;
    height: calc(100svh - 100px);
    padding: 0 10px 70px;
    overflow-y: scroll;
    background: $color-black;
    display: flex;
    flex-direction: column;
    gap: 70px;

    &::-webkit-scrollbar {
      display: none;
    }

    &:not(.active) {
      display: none;
    }

    h3 {
      font-weight: 300;
      font-size: 14px;
      letter-spacing: -0.05em;
      color: $color-white;
      margin-bottom: 30px;
      opacity: 0.6;
    }
  }

  &-bottom {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;

    .links {
      display: flex;
      flex-direction: column;
      gap: 10px;

      a {
        font-weight: 300;
        font-size: 14px;
        letter-spacing: -0.05em;
        color: $color-white;
      }
    }

    .networks {
      display: flex;
      align-items: center;
      gap: 20px;
    }
  }
}
