// product_page
.product_page_hero {

  .container {
    display: flex;
    align-items: start;
    justify-content: space-between;
    gap: 20px;
  }

  &-banner {
    width: 1066px;
    height: 1136px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.product_albom {
  padding: 100px 0;

  @include media('lg') {
    padding: 50px 0;
  }

  .container {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 10px;

    @include media('sm') {
      grid-template-columns: repeat(1,1fr);
    }
  }

  &_block {
    height: 820px;
    position: relative;

    @include media('lg') {
      height: 720px;
    }

    @include media('md') {
      height: 550px;
    }

    &::before {
      content: '';
      position: absolute;
      left: 0;
      bottom: -1px;
      width: 100%;
      height: 100%;
      background: linear-gradient(0deg, #161516 7.32%, rgba(22, 21, 22, 0.7) 23.68%, rgba(22, 21, 22, 0) 33.05%);
    }

    .text {
      position: absolute;
      left: 0;
      bottom: 0;
      padding: 30px;
      max-width: 550px;

      @include media('lg') {
        padding: 20px;
      }

      h3 {
        font-weight: 600;
        font-size: 24px;
        line-height: 130%;
        letter-spacing: -4%;
        color: $color-white;
        margin-bottom: 20px;

        @include media('lg') {
          font-size: 18px;
        }
      }

      p {
        font-weight: 300;
        font-size: 16px;
        line-height: 100%;
        letter-spacing: -5%;
        color: $color-white;
        opacity: 60%;

        @include media('lg') {
          font-size: 14px;
        }
      }
    }

    &:nth-child(3) {
      grid-column: 1 / -1;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

// cook
.cook {
  padding: 70px 0;

  @include media('md') {
    padding: 50px 0;
  }

  .container {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2,1fr);
    gap: 40px;

    @include media('md') {
      grid-template-columns: repeat(1,1fr);
    }
  }

  &_in {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 40px 100px;
    max-width: 600px;
    margin: auto;

    @include media('sm') {
      gap: 40px;
    }
  }

  &_text {
    .section_title {
      text-align: center;
      margin-bottom: 60px;

      @include media("lg") {
        margin-bottom: 40px;
      }
    }
  }

  &_block {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    width: 210px;

    img {
      width: 42px;
    }

    span {
      font-weight: 300;
      font-size: 16px;
      line-height: 100%;
      letter-spacing: -5%;
      text-align: center;
      color: $color-white;
      max-width: 210px;
    }

    &:last-child {
      grid-column: 1 / -1;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
    }
  }

  &_slide {
    overflow: hidden;

    .cookSwiper {
      position: relative;
    }

    .cook_slide {
      border-radius: 10px;
      background: #D9D9D9;
      height: 664px;

      @include media('xl') {
        height: 487px;
      }

      @include media('lg') {
        height: 438px;
      }

      @include media('sm') {
        height: 550px;
      }
    }

    .cook-pagination {
      position: absolute;
      z-index: 2;
      bottom: 20px;
      left: 0;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 4px;


      .swiper-pagination-bullet {
        background: $color-black;
        opacity: 60%;
        width: 6px;
        height: 6px;
        margin: 0;
        transition: .3s ease;

        &-active {
          background: $color-white;
          width: 30px;
          border-radius: 60px;
        }
      }
    }
  }
}
// cook

// included
.included {
  background: $color-white;
  padding: 70px 0;
  overflow: hidden;

  .section_title {
    color: $color-black;
    margin-bottom: 60px;

    @include media('lg') {
      margin-bottom: 40px;
    }
  }

  .includedSwiper {
    overflow: visible;
  }

  .included_card {
    &_img {
      background: #D9D9D9;
      height: 450px;
      margin-bottom: 10px;

      @include media('xl') {
        height: 330px;
      }

      @include media('lg') {
        height: 236px;
      }

      @include media('md') {
        height: 172px;
      }

      @include media('sm') {
        height: 300px;
      }
    }

    span {
      font-weight: 300;
      font-size: 16px;
      line-height: 100%;
      letter-spacing: -5%;
      color: $color-black;

      @include media('lg') {
        font-size: 14px;
      }
    }
  }
}
// included

// characteristics
.characteristics {
  background: $color-white;
  padding: 70px 0;

  .section_title {
    color: $color-black;
    margin-bottom: 60px;
    text-align: center;

    @include media('lg') {
      margin-bottom: 40px;
    }
  }

  ul {
    max-width: 670px;
    margin: 0 auto;

    li {
      padding: 20px 0;
      border-bottom: 1px solid #16151666;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 5px;

      span {
        font-weight: 300;
        font-size: 16px;
        line-height: 100%;
        letter-spacing: -5%;
        color: $color-black;

        @include media('lg') {
          font-size: 14px;
        }
      }
    }
  }
}
// characteristics

// similar_products
.similar_products {
  padding: 70px 0;
  overflow: hidden;

  .section_title {
    margin-bottom: 60px;
  }

  .similarSwiper {
    overflow: visible;
  }

  .swiper-slide {
    .catalog_card {
      border-top: 1px solid #444140;
      border-right: 1px solid #444140;

      img {
        @include media('lg') {
          height: 237px;
        }

        @include media('sm') {
          height: 350px;
        }
      }
    }

    &:last-child {
      .catalog_card {
        border-right: none;
      }
    }
  }

}
// similar_products
// product_page
